version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: express-app
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_HOST: db
      DB_NAME: mydb
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  db_data:
